@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-width: 1800px;
  min-height: 800px;
  user-select: none;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: #f5f5f5;
}

/*定义滚动条轨道
  
  内阴影+圆角*/

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

/*定义滑块
  
  内阴影+圆角*/

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dba4ff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
