.qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
}

.qrcode p {
  margin-top: 0.5rem;
}

.wrapper-bottom {
  width: 60%;
  margin: 0 auto;
  margin-left: 22%;
}

.text-list {
  flex: 1;
}

.text-list a {
  line-height: 1.5rem;
  color: #999;
  font-size: 0.3rem;
}

.text-list a:hover {
  color: #9f1bfa;
}

.contact {
  padding-left: 0;
  line-height: 1.5rem;
  color: #999;
  font-size: 0.3rem;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}
