.my-wrapper {
  margin: 0 auto;
  margin-left: 22%;
  width: 60%;
  padding: 1rem 0;
}

.my-wrapper .ant-card-head-title {
  color: #9f1bfa !important;
}

.my-wrapper .my-card {
  margin-bottom: 1rem;
  box-shadow: 0 4px 16px rgba(69, 88, 115, 0.1);
}

.my-wrapper .my-card p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.my-bald {
  font-weight: 700;
}

.personal .ant-card-body {
  background: linear-gradient(to right, rgb(255, 235, 206), #f0d6ff);
}

.my-wrapper ul li {
  position: relative;
  padding: 0.5rem 1rem;
  border: 1px solid #eee;
  border-radius: 1rem;
  transition: all 0.5s;
  margin-bottom: 1rem;
}

.my-wrapper ul li:hover {
  box-shadow: 0 4px 16px rgba(69, 88, 115, 0.1);
}

.my-wrapper .ant-btn {
  position: absolute !important;
  top: 50% !important;
  right: 2rem !important;
  transform: translateY(-50%) !important;
}
