.plane-wrapper {
  margin: 0 auto;
  margin-left: 22%;
  width: 60%;
  padding: 1rem 0;
  /* background-color: #fff; */
}

.plane-wrapper .air-pannel {
  margin-top: -1rem;
  background-color: #fff;
  border-radius: 0 0 0.5rem 0.5rem;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-more,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-more {
  display: none !important;
}

.plane-wrapper .tabs {
  /* font-weight: 700; */
  text-align: center;
  font-size: 1rem;
  width: 9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.air-small-banner {
  margin-top: 4rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.air-small-banner img {
  width: 100%;
}

.air-pannel {
  position: relative;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 2rem;
  margin-top: 1rem;
}

.air-op {
  padding-left: 1.5rem;
}

.air-options {
  position: relative;
  display: flex;
  /* padding-left: 2rem; */
}

.air-option-icons {
  position: absolute;
  top: 0.3rem;
  font-weight: 700;
  color: #9f1bfa;
}

.air-citypicker {
  width: 15rem;
}

.air-citypicker .ant-select-selector {
  height: 3.5rem !important;
}

.air-citypicker .ant-select-selection-item,
.air-citypicker .ant-select-selection-placeholder {
  text-align: center !important;
  line-height: 3.5rem !important;
  font-size: 1.5rem;
}

.air-citypicker .ant-select-arrow {
  display: none !important;
}

.air-citypicker.left .ant-select-selector {
  border-radius: 1rem 0 0 1rem !important;
}

.air-citypicker.left .ant-select-selector {
  border-radius: 1rem 0 0 1rem !important;
  border-right: none !important;
}

.air-citypicker.right .ant-select-selector {
  border-radius: 0 1rem 1rem 0 !important;
  border-right: none !important;
}

.air-cities {
  margin-right: 1rem;
  width: fit-content;
  position: relative;
  border-radius: 1rem;
  display: flex;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.air-change {
  position: absolute;
  left: 50%;
  top: 25%;
  border: 1px solid #ccc;
  background-color: #fff;
  transform: translateX(-50%);
}

.air-change svg {
  margin-top: -0.3rem !important;
  color: #bd67e6;
}

.air-row-2 {
  display: flex;
  align-items: center;
}

.air-heads {
  font-size: 1rem;
  margin-right: 0.2rem;
}

.air-range {
  margin-right: 1rem;
}

.air-range.ant-picker-range {
  height: 3.5rem !important;
  border-radius: 1rem !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
  border: 1px solid #eee !important;
}

.air-range .ant-picker-input input {
  text-align: center !important;
}

.air-seperator {
  position: relative;
  width: 2.5rem;
  height: 1.5rem;
  background-color: #e7a6ff;
  text-align: center;
  border-radius: 10rem;
  line-height: 1.5rem;
  color: white;
  z-index: 1;
}

/* .air-seperator::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: -62%;
  width: 1px;
  height: 3.5rem;
  background-color: #ccc;
  z-index: -1;
} */

.air-people {
  width: 15rem;
  height: 3.5rem !important;
  border-radius: 1rem !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
  border: 1px solid #eee !important;
  background-color: #fff;
}

.air-title {
  padding-left: 1rem;
  margin-top: 0.1rem;
  color: grey;
}

.air-people-but {
  width: 14.9rem;
  border-radius: 0 0 1rem 1rem;
  border: 1px #eee solid;
  border-top: none;
  background-color: #fff;
  box-sizing: border-box;
}

.air-book {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 15rem;
  height: 4rem;
  background: linear-gradient(45deg, rgb(255, 81, 0), #9f1bfa);
  color: white;
  font-size: 1.6rem;
  line-height: 2rem;
  border-radius: 100rem;
  transform: translate(-50%, 50%);
  border: 3px solid white;
}

.air-book.ant-btn:hover {
  color: white;
  border: 3px solid white;
}

.air-small-banner .slick-dots {
  right: -1rem !important;
  bottom: 1rem !important;
}
