.ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-item,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 3.5rem !important;
  line-height: 3.5rem !important;
  border-radius: 6rem !important;
}

.ant-layout .ant-layout-sider-children {
  padding: 0.5rem !important;
}

.ant-layout-sider {
  top: 0 !important;
}

.ant-menu-light.ant-menu-root.ant-menu-inline,
.ant-menu-light > .ant-menu.ant-menu-root.ant-menu-inline,
.ant-menu-light.ant-menu-root.ant-menu-vertical,
.ant-menu-light > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none !important;
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline,
.ant-menu-light > .ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background: none !important;
}

.ant-menu .ant-menu-item,
.ant-menu .ant-menu-submenu,
.ant-menu .ant-menu-submenu-title {
  border-radius: 5rem !important;
}

.ant-menu-submenu-arrow::before {
  color: #7300c0 !important;
  font-weight: 1000 !important;
  font-size: 1.5rem !important;
}

.ant-menu-submenu-arrow::after {
  color: #e4bdff !important;
  font-weight: 1000 !important;
}

.ant-menu .ant-menu-submenu-arrow::before,
.ant-menu .ant-menu-submenu-arrow::after {
  width: 0.3rem !important;
  height: 0.5rem !important;
}

.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title,
.ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  background-color: #9f1bfa !important;
  color: #fff !important;
}

.ant-menu .ant-menu-item .ant-menu-item-icon svg,
.ant-menu .ant-menu-submenu-title .ant-menu-item-icon svg {
  background-color: #fff !important;
  border-radius: 0.5rem !important;
}

.ant-layout .ant-layout-sider {
  position: static !important;
}

.ant-menu-submenu-title {
  font-size: 1rem !important;
}

/* 导航栏下部收缩标志的样式 */
.ant-layout .ant-layout-sider-trigger {
  background-color: #ccc !important;
  border-right: solid 0.5rem #eee !important;
}

.ant-menu-light.ant-menu-inline .ant-menu-item,
.ant-menu-light > .ant-menu.ant-menu-inline .ant-menu-item {
  height: 2rem !important;
}

.ant-layout .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
  width: auto !important;
  background-color: transparent !important;
}

.folder {
  margin: 1rem 0 !important;
  font-size: 1rem !important;
  cursor: pointer !important;
}

.ant-menu-submenu-popup .ant-menu-vertical > .ant-menu-item,
.ant-menu-submenu-popup
  .ant-menu-vertical
  > .ant-menu-submenu
  > .ant-menu-submenu-title {
  line-height: 2rem !important;
  height: 2rem !important;
}

.ant-layout .ant-layout-sider {
  position: fixed !important;
  height: 100vh !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  width: 8rem !important;
}

.ant-menu-submenu-inline:nth-last-child(2) {
  margin-top: 1rem !important;
}

.ant-menu-submenu-inline:nth-last-child(2)::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  top: -0.5rem;
  background-color: #ccc;
}

.ant-menu-submenu-popup {
  display: none !important;
}
