.wrapper {
  display: flex;
  align-items: center;
  width: 65%;
  margin: 0 auto;
  margin-left: 20%;
}

.logo {
  width: 9rem;
  margin-right: 2rem;
}

.ant-input-wrapper.ant-input-group {
  display: flex;
  width: 16rem !important;
}

.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  display: flex;
  align-items: center !important;
  background-color: #9f1bfa !important;
}

.ant-modal .ant-modal-footer .ant-btn + .ant-btn {
  background-color: #9f1bfa !important;
}

.anticon-search {
  font-size: 1.2rem !important;
}

a {
  text-decoration: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 10rem;
  background-color: #f4e7ff;
  color: #ba54ff;
}

.login:hover,
.regist:hover {
  color: #9f1bfa;
}

.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.regist {
  width: 4rem;
  color: #ba54ff;
}

.menu_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_item:hover {
  color: #9f1bfa;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  justify-content: center !important;
  border-radius: 100vh !important;
  color: #9f1bfa;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-active {
  background-color: #e5bdff !important;
  color: white;
}

.mobile-info {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ant-modal .ant-modal-title {
  text-align: center;
}

.ant-btn-primary {
  background-color: #9f1bfa !important;
}

.ant-form-item .ant-btn-primary {
  background: linear-gradient(45deg, rgb(255, 81, 0), #9f1bfa) !important;
}

.regist-gender {
  color: #9f1bfa;
}

.regist-button {
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
}
