.train-wrapper {
  margin: 0 auto;
  width: 60%;
  padding: 1rem 0;
  margin-left: 22%;
  min-height: 30rem;
}

.train-back {
  background-image: url(/train.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.train-pannel {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 16px rgba(69, 88, 115, 0.2);
  margin-top: 5rem;
}

.train-radios {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.train-icon {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.train-right {
  margin-left: 0.5rem;
  color: #9f1bfa;
}

.train-hover:hover {
  color: #9f1bfa;
}

.train-pannel .ant-select-selector {
  height: 5rem !important;
}

.train-pannel .ant-select-selection-placeholder,
.train-pannel .ant-select-selection-item {
  line-height: 4.8rem !important;
}

.train-cities {
  display: flex;
  position: relative;
  border-radius: 1.2rem;
  background-clip: padding-box;
  border: 5px solid transparent;
}

.train-cities::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: -5px;
  border-radius: 1.2rem;
  background: linear-gradient(to right, rgb(254, 218, 167), #e3b3ff);
}

.train-cities .ant-select {
  width: 12rem !important;
}

.train-cities .ant-btn {
  top: 20% !important;
  width: 3rem !important;
  height: 3rem !important;
}

.train-dates {
  display: flex;
  margin-left: 1rem;
  height: 5rem;
  width: 35rem;
}

.train-date-right {
  position: relative;
}

.train-dates .ant-picker {
  width: 14rem !important;
  height: 5rem !important;
}

.train-dates .ant-picker.train-date-left {
  border-radius: 1rem 0 0 1rem !important;
}

.train-dates .ant-picker .ant-picker-input input {
  text-align: center !important;
  font-size: 1rem !important;
}

.train-dates {
  width: 28rem;
  margin-right: 1rem;
  border-radius: 1rem;
  background: linear-gradient(to right, rgb(254, 218, 167), #e3b3ff);
}

.train-dates .train-date-right .ant-picker {
  border-radius: 0 1rem 1rem 0 !important;
}

.train-hide {
  width: fit-content;
  position: absolute;
  top: 0;
  left: -0.2rem;
  vertical-align: middle;
  color: #dda9ff;
}

.train-cancel {
  color: transparent;
  transition: all 0.3s;
}

.train-hide:hover {
  color: #9f1bfa;
}

.train-hide:hover .train-cancel {
  color: #9f1bfa;
}

.train-hide .anticon-close-circle svg {
  margin-top: -0.4rem;
  margin-right: -0.3rem;
}

.train-show {
  width: fit-content;
  position: absolute;
  bottom: 1rem;
  right: -13rem;
  border: 1px dashed #ffffff;
  color: white;
}

.train-book {
  height: 5rem !important;
  width: 10rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  background: linear-gradient(45deg, rgb(255, 0, 0), #a200ff);
  color: white;
  box-sizing: border-box;
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(69, 88, 115, 0.4);
}

.train-book.ant-btn:hover {
  color: white;
  border: 3px solid white;
}

.train-img {
  margin-top: 1rem;
  box-shadow: 0 4px 16px rgba(69, 88, 115, 0.2);
  border-radius: 1rem;
}

.train-img-bottom {
  margin-top: 1.5rem;
}

.train-selector {
  display: flex;
  justify-content: center;
}

.train-selector ul {
  display: flex;
}

.train-selector ul li a {
  display: block;
  margin: 0.5rem;
  width: 4rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 100rem;
  background-color: #fff;
  color: #e9c9ff;
  border: #e9c9ff 1px solid;
  transition: all 0.3s;
  /* box-shadow: 0 0 10px rgba(69, 88, 115, 0.2); */
}

.train-selector ul li a.active {
  background-color: #e9c9ff;
  color: #9f1bfa;
}

.train-selector ul li a:hover {
  color: #9f1bfa;
}

.train-inn h2,
.train-trip h2,
.train-hot h2 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}

.train-trip p {
  text-align: center;
  color: #aaa;
}

.train-inn-list,
.train-trip-list {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

.train-inn-list li,
.train-trip-list li {
  position: relative;
  width: 24%;
  overflow: hidden;
  cursor: pointer;
}

.train-inn-list li h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.train-inn-list img,
.train-trip-list img {
  width: 100%;
  height: 10rem;
  border-radius: 0.5rem;
  background-color: #ccc;
}

.train-inn-list li .rate {
  width: fit-content;
  padding: 0.1rem 0.5rem;
  color: #d493ff;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #9f1bfa;
}

.train-inn-list li .rate .real {
  color: white;
  font-size: 1.1rem;
}

.train-inn-list li .price {
  margin-top: 0.2rem;
  color: #9f1bfa;
  font-size: 1rem;
}

.train-inn-list li .price .real {
  font-size: 1.2rem;
  font-weight: 700;
}

.hot {
  position: absolute;
  content: "推荐";
  display: block;
  left: 0;
  top: 0;
  font-size: 1.1rem;
  color: white;
  background-color: #9f1bfa;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem 0 1rem 0;
  font-weight: 700;
}

.hot-icon {
  margin-right: 0.2rem;
}

.train-trip-detail {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 1rem;
}

.train-trip-detail p {
  color: white;
}

.train-trip-detail h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.train-hot-list {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  padding: 1rem;
  border: 1px solid #e9c9ff;
  margin: 1rem 0 2rem;
  border-radius: 1rem;
}

.train-hot-list li {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem;
  padding: 0.2rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 1rem;
  transition: all 0.3s;
}

.train-hot-list li:hover {
  background-color: #f2e0ff;
}

.train-hot-list li .price {
  color: #9f1bfa;
}

.train-hot-list li .price span {
  font-size: 1.2rem;
}
